# Ganti dengan URL koneksi PostgreSQL Anda
# Contoh: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://root:yourpassword@localhost:5432/vehicle_tracker"

NODE_ENV="development"
JWT_SECRET="SUP3R53CR3T"